@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

.cabecalho{
    padding: 18px 365px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #8e8e8e75;
}
.cabecalho-logo{
    width: 103px;
    height: 29px;
}
.cabecalho-pesquisa{
    margin-left: 231px;
    margin-right: 80px;
    width: 268px;
    height: 36px;
    background-color: #efefef;
    border: none;
    border-radius: 10px;
}
.cabecalho-navegação{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.cabecalho-navegação--imgperfil{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    padding: 1px;
    border-radius: 100%;
}

.conteudo{
    align-items: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0px;
}
.conteudo-perfil{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;
}
.conteudo-perfil--imagem{
    align-items: center;
    margin-right: 30px;
    padding: 0px 71px;
    border-radius: 100%;
}
.conteudo-perfil--infos{
    align-items: center;
    display: flex;
    align-items: center;
}
.conteudo-perfil--info{
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.conteudo-perfil--nick{
    align-items: center;
    margin: -5px 0px -6px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: normal;
    font-weight: 100;
}
.conteudo-perfil--editar{
    align-items: center;
    padding: 5px 9px;
    background-color: white;
    border: 1px solid #8e8e8e75;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    letter-spacing: normal;
}
.conteudo-perfil--engrenagem{
    align-items: center;
    padding: 3px 21px;
}
.conteudo-perfil--numeros{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: normal;
}
.conteudo-perfil--name{
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    letter-spacing: normal;
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.imagens-linha1{
    width: 935px;
    height: 293px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    padding-top: 53px;
    border-top: 1px solid #8e8e8e75;
}
.imagens-linha2{
    width: 935px;
    height: 293px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.rodape{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 52px;
    align-items: center;
}
.rodape-links{
    display: flex;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: start;
    letter-spacing: normal;

}
.rodape a{
    text-decoration: none;
    color: #8e8e8e;
}

.rodape-copy{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: start;
    letter-spacing: normal;
    color: #8e8e8e;
}